@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	/* background-color: #FFF; */
	font-family: 'Hind', sans-serif;
	font-size: 18px;
	position: relative;
}

h1 {
	font-family: 'Noble', sans-serif;
	font-size: 175%;
	color: #4A4444;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 3% 0;
}


h3 {
	font-family: 'Noble', sans-serif;
	color: #4A4444;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1%;
}

p {
	padding: 2%;
	color: #4AAAAA;
	text-align: justify;
}

img {
	max-width: 100%;
	height: auto;
}




/*--------------------------------------HEADER-----------------------------*/


#banner-wrapper {
	max-width: 1280px;
	margin: 0 auto;
}

.header-intro {
	font-family: 'Nunito', sans-serif;
    font-weight: 700;
} 

.header-intro-text {
	position: absolute;
	z-index: 7;
	width: 100%;
}

.header-intro-text h1 {
	margin:  10% auto 3% auto;
	padding: 0%;
	color: #fff;
	font-size: 4em;	
}

.header-intro-text h1 .highlight {
	color: #F7CD78;

}

.header-intro-text h2 {
	margin: 0 auto 3% 37%;
    padding: 0%;
    color: #fff;
    font-size: 2em;
    
}

.button {
    border: 1px solid #fff;
    display: inline-block;
    margin: 0 44%;
    padding: 10px 20px;
    color: white;
}


/*---Start Image Slider---*/

.slider-wrap {
	background-image: url(img/header-bg.png);
}
.slider {
	width: 100%;
}


.slider1 img {
	min-width: 100%;
	margin: 0 auto;
}

.slider .bx-wrapper .bx-controls-direction a {
	outline: 0 none;
	position: absolute;
	text-indent: -9999px;
	top: 40%;
	height: 71px;
	widows: 40px;
	z-index: -1;
	transition: all 0.7s;
}

.slider .bx-wrapper:hover .bx-controls-direction a {
	z-index: 5;
}

.slider .bx-wrapper .bx-prev {
	background-color: #000 url("img/left-arrow-white.png") no-repeat 8px 13px;
	left: 0px;
	opacity: 0.3;
}

.slider .bx-wrapper .bx-prev:hover {
	opacity: 0.6;
}

.slider .bx-wrapper .bx-next{
	background-color: #000 url("img/right-arrow-white.png") no-repeat 10px 12px;
	right: 0px;
	opacity: 0.3;
}

.slider .bx-wrapper .bx-next:hover {
	opacity: 0.6;
}
/*---End Image Slider---*/


/*--------------------------------------HEADER ENDS-----------------------------*/




.one-half {
	width: 44%;
	float: left;
	margin: 2% 0 3% 4%;
	text-align: center;
}

.one-half img {
	margin: 0 0 0 20%;
	width: 60%;

}

.floatright{
	margin-left: 70%;
} 

.one-third {
	width: 28%;
	float: left;
	margin: 2% 0 3% 4%;
	text-align: center;
}

.left-col {
	width: 60%;
	float: left;
	margin: 4% 0 4% 4%;
}

.sidebar {
	width: 26%;
	float: left;
	margin: 4%;
}

.sidebar img {
	opacity: 0.8;
}

.clearfix {
	clear: both;
}

/*---Start Parallax Section---*/
.parallax-1 {
	background: url("img/section-folio-1.png") repeat fixed 100%;
	text-align: center;
}

.parallax-inner {
	padding-top: 90px;
	padding-bottom: 300px;
}

.parallax-2 {
	background: url("img/section-folio-2.png") repeat fixed 100%;
	text-align: center;
}

.parallax-inner h3, .parallax-inner p {
	color: #F1F1F1;
}
/*---End Parallax Section---*/



/*--------------------------------FOOTER & CONTACT ----------------------*/
footer {
	width: 100%;
	height: 750px;
    margin: 0;
	padding: 0;
	overflow: auto;
	background: #000000 url("img/footer-bg.png") center no-repeat;
    background-size: cover;
}


footer p {
	color: #FFF;
	opacity: 0.9;
	display: inline-block;
}

.contact-heading {
	color: #FFF;
	font-size: 3em;
	text-align: center;
	display: block;
	margin-top: 3%;
}


/*---Footer Contact Form---*/

.container {

}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    color: white;
}

input[type=submit] {
    /* background-color: transparent; */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    
}

.container {
    border-radius: 5px;
    padding: 20px;
}

footer form {
	/* background-color: transparent; */
	width: 45%;
	margin: 0 auto;
}

footer form input, select, textarea {
	 background-color: transparent; 
}
/*---Footer Contact Form Ends---*/



/*--------------------------------FOOTER & CONTACT END----------------------*/




/*---------------MEDIA QUERIES-------------*/

@media screen and (max-width: 760px) {


/*---HEADER STYLES---*/
	.slider .bx-wrapper .bx-controls {
		display: none;
	}

	.slider {
		height:100%;
		width: 100%;
	}

	.header-intro-text h1 {
		font-size: 2em;
	}

	.header-intro-text h2 {
		font-size: 1.2em;
	}

	.button {
		width: 20%;
		height: 5%;
		font-size: 0.7em;
		border: 1px solid #fff;
	    display: block;
	    margin: 0 auto;
	    padding: 0;
	    color: white;
	}

/*---HEADER STYLES END---*/


	.parallax-inner {
		display: none;
	}
	.one-third {
		width: 100%;
		margin: 4% 0;
	}
	.one-half {
		display: none;
	}

	h1 {
		font-size: 125%;
	}

	.left-col {
		width: 100%;
		margin: 0 0 3% 0;
	}
	.sidebar {
		width: 100%;
		margin: 0;
	}
	img {
		width: 100%;
	}
	h3 {
		padding-top: 3%;
	}   
}	

/*---RESPONSIVE CONTACT FORM---*/
@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}

	.header-intro-text h1 {
		font-size: 1.4em;
	}

	.header-intro-text h2 {
		font-size: 1em;
	}

	.button {
		width: 20%;
		height: 5%;
		font-size: 0.7em;
		border: 1px solid #fff;
	    display: block;
	    margin: 0 auto;
	    padding: 1%;
	    color: white;
	    text-align: center;
	}
}



